body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #353a3f;
    color: #f0f0f0;
    font-size: 1.2em;
}

.header {
    position: fixed;
    top: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: #151a1f;
    white-space: nowrap;
}

.header a {
    display: table-cell;
    font-size: min(1.8em, 5vw);
    font-weight: 500;
    color: #ddd;
    text-decoration: none;
    text-align: center;
}

.header a:hover {
    color: #f0f0f0;
}

.header a.active {
    color: white;
    background-color: #353a3f;
}

.main {
    position: fixed;
    top: 12vh;
    bottom: 22vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    overflow: auto;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer {
    position: fixed;
    top: 80vh;
    height: 17vh;
    left: 3vw;
    right: 3vw;
    font-weight: 400;
    background-color: #555a5f;
    border-radius: .15rem;
    color: #f0f0f0;
    display: inline-block;
}

#download-btn {
    background-color: #40b050;
    border: none;
    padding: 2vh 3vw;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: min(1.2em, 3vw);
    /* Vertical center */
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    border-radius: .5rem;
}

#loading-info {
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translateY(-50%);
    font-size: min(1.5em, 4vw);
}

#loading-area {
    display: none;
    position: relative;
    left: 0;
    width: 60vw;
    top: 0;
    height: 100%;
}

#loading-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #208020;
}

#loading-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 17vh;
    text-align: center;
    font-size: min(1.8em, 5vw);
    font-weight: 500;
    color: #ddd;
}

#warning {
    display: none;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 15vw;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16vh;
    height: 8vh;
    margin: 0 3vw;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555a5f;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 6vh;
    width: 6vh;
    left: 1vh;
    bottom: 1vh;
    background-color: #151a1f;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(8vh);
    -ms-transform: translateX(8vh);
    transform: translateX(8vh);
}

.settings {
    display: inline-block;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    font-size: min(1.2em, 3vw);
}

.dropdown-container {
    float: right;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #2196F3;
    width: 20vw;
    height: 8vh;
    border: none;
    cursor: pointer;
    border-radius: 1vw 1vw 0 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555a5f;
    width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #f0f0f0;
    height: 10vh;
    line-height: 8vh;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #151a1f;
}

.dropdown:hover .dropdown-content {
    display: block;
}