body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #353a3f;
    color: #f0f0f0;
    font-size: 1.2em;
}

.header {
    position: fixed;
    top: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: #151a1f;
    white-space: nowrap;
}

.header a {
    display: table-cell;
    font-size: min(1.8em, 5vw);
    font-weight: 500;
    color: #ddd;
    text-decoration: none;
    text-align: center;
}

.header a:hover {
    color: #f0f0f0;
}

.header a.active {
    color: white;
    background-color: #353a3f;
}

.main {
    position: fixed;
    top: 12vh;
    bottom: 22vh;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer {
    position: fixed;
    top: 80vh;
    height: 17vh;
    left: 3vw;
    right: 3vw;
    font-weight: 400;
    background-color: #555a5f;
    border-radius: .15rem;
    color: #f0f0f0;
    display: inline-block;
}

#download-btn {
    background-color: #40b050;
    border: none;
    padding: 2vh 3vw;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: min(1.2em, 3vw);
    /* Vertical center */
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    border-radius: .5rem;
}

#loading-info {
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translateY(-50%);
    font-size: min(1.5em, 4vw);
}

#loading-area {
    display: none;
    position:relative;
    left: 0;
    width: 60vw;
    top: 0;
    height: 100%;
}
#loading-bar{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:0;
    background-color: #208020;
}
#loading-text{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    line-height: 17vh;
    text-align: center;
    font-size: min(1.8em, 5vw);
    font-weight: 500;
    color: #ddd;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 15vw;
}