body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #212529;
  color: #f0f0f0;
}

.header{
  position: fixed;
  top: 0;
  height: 10vh;
  line-height: 10vh;
  width: 100%;

  /*display: flex;
  justify-content: space-evenly;*/
  display:table;
  table-layout: fixed;

  background-color: #1d1d1d;
}
.header a{
  display: table-cell;

  font-size: 2em; 
  font-weight: 500;
  color: #ddd;
  text-decoration: none;
  text-align: center;
}
.header a:hover{
  color: #f0f0f0;
}
.header a.active{
  color: #fff;
  background-color: #212529;
}

.main{
  position: fixed;
  top: 12vh;
  bottom: 22vh;
  margin-left: 5%;
  margin-right: 4%;
  overflow: auto;
}
.footer{
  position: fixed;
  top: 80vh;
  bottom: 3vh;
  left: 3%;
  right: 3%;

  font-size: 2em;
  background-color: #414549;
  color: #f8f9fa;
}
